.infoSections__container{
    display:grid;
    grid-template-columns: 1fr ;
    height:100%;
}

.infoSection__container{
    @include transition-ease;
    display:flex;
    flex-direction: column;
    padding: 0px 50px;
    margin: 30px 30px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height:100%;
}
.infoSection__container:nth-child(even){

    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    flex-direction: column-reverse;
}

.image__container{
    height: 150px;
    width: 300px;
    margin: 30px;
}

.image__container > img{
    object-fit:contain;
    height:100%;
    width:100%;
}

.info__container{
    line-height: 30px;
}

.aboutUs__video{
    position:fixed;
    bottom:10px;
    right:10px;
}