
.footer__container {
    @include transition-ease;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .footer__container {
    padding: 30px;
    width: 100%;
    margin: auto;
 
  }
  
  .footer__row {
    display:flex;
    flex-direction:column ;
    align-items:center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer__col ul {
    list-style: none;
  }
  .footer {
   background-color: #151516;
   padding: 40px 0;
  }
  
  .footer__col {
    width: 100%;
    padding: 0 15px;
    text-align: center;
  }
  
  .footer__col h1 {
    font-size: 300px;
    color: rgb(9, 230, 255);
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(0, 255, 247),
      0 0 82px rgb(0, 255, 247),
      0 0 92px rgb(0, 255, 247),
      0 0 102px rgb(0, 255, 247),
      0 0 151px rgb(0, 255, 247);
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  
  .footer__col ul li:last-child{
    margin-bottom: 10px;
  }
  
  .footer__col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer__col ul li a:hover {
    color: white;
    padding-left: 8px;
  }
  
  .footer__col i {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
    text-align: center;
  
  }
  
  .footer__col i:hover {
    color: #24262b;
    background-color: white;
  }
  
  .footer__row p {
    color: #fff;
    text-align: center;
    font-size: 10px;
  }
  
  
  
  
  
  
  .footer__col__input{
      height:40px;
      border-radius:10px;
  
      &__button{
        border: 1px solid #673ab7;
        border-radius: 0;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        padding: 12px 12px;
        display: inline-block;
        border-radius: 2px;
        cursor: pointer;
        letter-spacing: 1px;
        outline: 0;
        position: relative;
        text-decoration: none!important;
        color: #fff;
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transition: all ease .5s;
        background: #BBBBBB;
        padding-left: 22px;
        padding-right: 22px;
        border-radius: 10px;
        border: 2px solid #ffffff;
  
        &:hover{
          background: #ffffff;
          color:#BBBBBB;
          border: 2px solid #BBBBBB;
        }
      }
  }
  
  .footer__col__input__container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:15px;
  
   
  }
  