.hero-image2__container {
  @include transition-ease;
    position:relative;
    height:500px;
    
}

.hero2-image {
  height: 100%;
  min-height:512px;
  padding: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cbsproductheroimage.png");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.hero2-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.container_card {
  @include transition-ease;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -10px auto;
    flex-direction: column;
    gap:50px;
    padding: 60px 0;
  }
  .border_card {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
  } 
  .border_card :hover {
    // border: 1px solid #fff;
  }
  .card {
    height: 379px;
    width: 300px;
    background: #808080;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: #000;
    box-shadow: 0 70px 63px -60px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .card0 {
    background: url("../images/products1.png") center center no-repeat;
    background-size: 300px;
  }
  .card0:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/products1_hover.png") left center no-repeat;
    background-size: 600px;
  }
  .card0:hover h2 {
    opacity: 1;
  }
  .card0:hover .fa {
    opacity: 1;
  }
  .card1 {
    background: url("../images/products2.png") center center no-repeat;
    background-size: 300px;
  }
  .card1:hover {
    background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/products2_hover.png") left center no-repeat;
    background-size: 600px;
  }
  .card1:hover h2 {
    opacity: 1;
  }
  .card1:hover .fa {
    opacity: 1;
  }
  .card2 {
    background: url("../images/products3.png") center center no-repeat;
    background-size: 300px;
  }
  .card2:hover {
    background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/products3_hover.png") left center no-repeat;
    background-size: 600px;
  }
  .card2:hover h2 {
    opacity: 1;
  }
  .card2:hover .fa {
    opacity: 1;
  }
  h2 {
    color: #ffffff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }
  .fa {
    opacity: 0;
    transition: opacity 1s;
  }
  .icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    margin-top: 5px;
    margin-right: 200px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    
  }

  .container_card a {
    text-decoration:none;
  }
  .container_card p {
    color:#ffffff;
opacity:0;
padding: 10px;
margin-top:40px;
  }

  .card0:hover p {
    opacity: 1;
    transition: opacity 1s;
  }
  

  .card1:hover p {
    opacity: 1;
    transition: opacity 1s;

  }
  

  .card2:hover p {
    opacity: 1;
    transition: opacity 1s;

  }
  
  