.specification {
    font-family: 'Average Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    display: flex;
    align-items: center;
    position: absolute;
    width: 695px;
    height: 113px;
    left: 667px;
    top: 589px;
    color: black;
}

.specification_text {
    font-family: "Louis Vuitton Web","Helvetica Neue","Helvetica",Arial,sans-serif;
    
}