@include media-md{

  
    .card{
        width:80vw;
    }
    .menu-btn{
        visibility:hidden;
    }
    .navbar__container{
        &.open{
            transform: translateY(0vh);
        }

        flex-direction: row;
        height:100%;
    position:sticky;
    visibility:visible;
    top:0px;
    }

    .navbar__links{
        flex-direction:row;
    }

    .ads-background{
        flex-direction:row !important;
    }

    .footer__row{
        display:flex;
        flex-direction:row;
        align-items:center;
    }

    .footer__col{
        width:25%;
        text-align:start;
    }

}

@include media-lg{
    .product__container{
        flex-direction:row;
       }
    .container_card{
        flex-direction: row;
    }

    .card{
        width:300px;
    }
  
    .infoSections__container{
        grid-template-columns: 1fr 1fr 1fr;
        margin: 30px 0px;
        margin-bottom: 70px;
    
    }

    .infoSection__container:nth-child(even){
        border-left: 1px solid #000000;
        border-right: 1px solid #000000;
        border-top: none;
        border-bottom: none;
        flex-direction: column-reverse;
    }
}

@include media-xl{
  
}