@import 'config';
@import 'home';
@import 'products';
@import 'product';
@import 'tiers';
@import 'aboutUs';
@import 'navbar';
@import 'footer';
@import 'responsive';
html{
    height:auto;
    max-width:100vw;
}
    
body {
    height: 100%;
    margin: 0;
    font-family: Montserrat, Aleo, Helvetica, Arial, sans-serif !important;
}

